.score-bar {
    --_opacity-bar-base: 25%;

    display: grid;
    place-items: center;
    isolation: isolate;
    font-weight: var(--fw-semi-bold);

    span {
        z-index: 1;
        font-size: var(--fs-body-large);
    }

    b {
        display: block;
        position: absolute;
        inline-size: 2rem;
        block-size: calc(var(--_score-bar-height) + var(--_score-bar-height-extra));
        border-radius: 2px;
        background-image: linear-gradient(to top, hsl(from var(--_parent-clr, var(--clr-primary)) h s var(--lightness-900) / var(--_opacity-bar-base)), hsl(from var(--_parent-clr, var(--clr-primary)) h s var(--lightness-800) / var(--_opacity-bar-base)) 63%, hsl(from var(--_parent-clr, var(--clr-primary)) h s var(--lightness-300) / var(--_opacity-bar-base)));

        &::before {
            content: '';
            position: absolute;
            inset: auto .45ch .45ch;
            z-index: -1;
            height: var(--_level-score-bar, 50%);
            border-radius: inherit;
            background-color: hsl(from var(--clr-text-light) h 29% l / 65%);
            box-shadow: 0 0 15px 3px hsl(var(--hsl-base-100) / 40%);
        }
    }
}

.list {
    list-style: none;
    list-style-position: inside;

    > li {
        position: relative;
        display: block;
        align-items: center;
        padding-inline-start: 3ch;

        &::before {
            content: '';
            position: absolute;
            inset: .35lh auto auto 0;
            block-size: .7cap;
            aspect-ratio: 1;
            background-color: var(--clr-primary);
            box-shadow: 0 0 0 4px hsl(var(--hsl-primary) / 30%);
        }
    }
}
