::-webkit-scrollbar {
    width: .85em;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: color-mix(in oklab, hsl(from var(--clr-primary) h s var(--lightness-700)) 35%, hsl(var(--hsl-base-400) / 60%));
    box-shadow: inset 0 0 0.3em 0 var(--clr-secondary-light);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: hsl(from var(--clr-primary) h s 9.5%);
    transition-duration: var(--transition-very-fast);
}